enum Color {
    Red
    Green
    Blue
    Yellow
    White
    Black
}

func get_color(x: u16) : Color {
    var c_yellow: Color = Color::Yellow
    var c_black: Color = Color::Black

    if x > 10 {
        return c_yellow
    }

    return c_black
}
